<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, laborum vitae error, repudiandae facere veritatis quis maiores ullam blanditiis laboriosam consectetur nemo, pariatur doloribus dolore distinctio repellendus. Alias, molestiae reiciendis.
</p>
</ion-content>
