<ion-header translucent>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-card>
      <ion-row>
        <ion-col size="9" offset="1">
          <div style="margin-bottom: 3rem; margin-left: 1rem;">
            <h1>Welcome {{user.username}}</h1>
            <ion-avatar class="ion-margin-start">
              <img src="https://www.shareicon.net/data/512x512/2017/01/06/868320_people_512x512.png">
            </ion-avatar>

          </div>
        </ion-col>
        <ion-col size="1">
          <ion-fab-button (click)="logOut()">
            <ion-icon name="log-out-outline"></ion-icon>
          </ion-fab-button>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row>
        <ion-list>
          <h2 class="ion-text-center">Your infos</h2>
          <ion-item>
            <ion-avatar slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>
              <h3>Name</h3>
              <p>{{user.username}}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>
              <h3>Email</h3>
              <p>{{user.email}}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>
              <h3>Gender</h3>
              <p>{{user.gender}}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>
              <h3>Age</h3>
              <p>{{user.age}}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>
              <h3>Weight</h3>
              <p>{{user.weight}}</p>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
            </ion-avatar>
            <ion-label>
              <h3>Height</h3>
              <p>{{user.Height}}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-row>
    </ion-card>
  </ion-grid>
</ion-content>
